* {
    margin: 0;
}
.wrap {
    width: 845px;
    height: 650px;
    border: solid 3px gray;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;

}

.box_a {
    width: 820px;
    height: 200px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: gray;
    border-radius: 10px;
}
.box_1 {
    width: 620px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    grid-gap: 10px;
}
.bcdefg {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-gap: 10px;
    font-size: 40px;
    color: gray;
    margin-top: 10px;

}

.box {
    height: 200px;
    width: 200px;
    background: silver;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: gray;
}
.box_2 {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 200px;
}

.box_3 {
    width: 200px;
    height: 410px;
    background: silver;
    border-radius: 5px;
    position: relative;
    font-size: 40px;
    color: gray;
}