
h1 {
    color: #078359;
    background: antiquewhite;
}

img {
    width: 400px;

}

p {
    color: #d0730a;
    background: beige;
}

a {
    color: #0e6548;
    background: antiquewhite;
}
ul {
    color: #0e6548;
    background: #178d7c;
}